---
import Category from '@components/Category/Category.astro';
import type { Post } from '@utils/types';

const { post } = Astro.props as { post: Post };

const link = `/${post.id}`;
const title = post.data.title;
const description = post.data.description || '';
const category = post.data.category;
---

<a
  href={`${link}`}
  class="group hover:bg-surface focus-visible:ring-accent block rounded-lg p-2 transition focus-visible:ring-2"
>
  <article class="space-y-1">
    <header class="flex items-baseline gap-2">
      <Category category={category} />

      <h3
        class="text-primary group-hover:text-accent text-sm font-medium transition sm:text-lg"
      >
        {title}
      </h3>
    </header>

    <p class="text-sub hidden text-sm sm:line-clamp-2 sm:block">
      {description}
    </p>
  </article>
</a>
