---
import EmailIcon from '@icons/email.svg';
import GithubIcon from '@icons/github.svg';
import LinkedinIcon from '@icons/linkedin.svg';
import RssIcon from '@icons/rss.svg';

type Props = {
  url: string;
  name: 'github' | 'linkedin' | 'email' | 'rss';
};

const { url, name } = Astro.props;

const icons = {
  github: GithubIcon,
  linkedin: LinkedinIcon,
  email: EmailIcon,
  rss: RssIcon,
};

const Icon = icons[name];
---

<a
  href={url}
  target="_blank"
  aria-label={`${name} link`}
  aria-describedby={`${name} icon`}
>
  <Icon
    name={name}
    class="text-primary hover:text-accent size-12 cursor-pointer fill-current p-3 hover:scale-110"
  />
  <span class="sr-only">Go to {name} page</span>
</a>
