---
import type { GetStaticPaths } from 'astro';
import { getCollection } from 'astro:content';
import config from '@config/site-config';
import Base from '@layouts/Base.astro';
import Posts from '@layouts/Posts.astro';
import Pagination from '@components/Page/Pagination.astro';
import { sortPostsByDateDesc } from '@utils/data-util';

export const prerender = true;

export const getStaticPaths = (async ({ paginate }) => {
  const allPosts = (await getCollection('blog')).sort(sortPostsByDateDesc);
  return paginate(allPosts, { pageSize: config.site.pageSize });
}) satisfies GetStaticPaths;

const { page } = Astro.props;
---

<Base pageTitle="Blog">
  <h1
    class="mx-auto mb-4 w-full max-w-5xl pb-4 text-2xl font-black text-content md:text-3xl">
    Blog Posts
  </h1>
  <Posts posts={page.data} pageSize={config.site.pageSize} />
  <Pagination
    pageLength={page.lastPage}
    currentUrl={page.url.current}
    currentPage={page.currentPage}
    firstUrl={`/blog/`}
    prevUrl={page.url.prev}
    nextUrl={page.url.next}
    lastUrl={`/posts/${page.lastPage}`}
  />
</Base>
