---
import FormattedDate from '@components/Date/FormattedDate.astro';
import ReadingTimeText from '@components/ReadingTime/ReadingTimeText.astro';
import TagList from '@components/Tag/TagList.astro';

const { minutesToRead, title, description, publishedDate, tags, category } =
  Astro.props;
---

<section
  class="mx-auto flex w-full flex-col gap-2 break-keep rounded-t-md text-content lg:gap-4"
>
  <h2 class="w-fit text-lg font-semibold">{category}</h2>
  <h1 class="text-3xl font-semibold lg:text-4xl">
    {title}
  </h1>
  <p>{description}</p>
  <div class="flex items-center gap-2 text-sm lg:text-base">
    <FormattedDate date={publishedDate} />
    <ReadingTimeText readingTime={minutesToRead} />
  </div>
  <TagList tags={tags} />
</section>
