---
import FormattedDate from '@components/Date/FormattedDate.astro';
import ReadingTimeText from '@components/ReadingTime/ReadingTimeText.astro';
import TagList from '@components/Tag/TagList.astro';

type Props = {
  title: string;
  description: string;
  publishedDate: Date;
  tags: string[];
  minutesToRead: number;
  category: string;
};

const { minutesToRead, title, description, publishedDate, tags, category } =
  Astro.props;
---

<div
  class="mb-2 flex items-center gap-2 text-sm opacity-80 lg:mb-4 lg:text-base"
>
  <span>{category}</span>
  <FormattedDate date={publishedDate} />
  <ReadingTimeText readingTime={minutesToRead} />
</div>
<h1>
  {title}
</h1>
<p>{description}</p>
<TagList tags={tags} />
