---
import FormattedDate from '@components/Date/FormattedDate.astro';
import ReadingTimeText from '@components/ReadingTime/ReadingTimeText.astro';
import TagList from '@components/Tag/TagList.astro';

type Props = {
  title: string;
  description: string;
  publishedDate: Date;
  tags: string[];
  minutesToRead: number;
  category: string;
};

const { minutesToRead, title, description, publishedDate, tags, category } =
  Astro.props;
---

<Fragment>
  <div class="my-2 flex items-center gap-2 text-sm lg:mb-4 lg:text-base">
    <span>{category}</span>
    <span>|</span>
    <FormattedDate date={publishedDate} />
    <ReadingTimeText readingTime={minutesToRead} />
  </div>
  <h1 class="mb-4 text-3xl font-medium leading-tight break-keep">
    {title}
  </h1>
  <p class="mb-2 break-keep">{description}</p>
  <TagList tags={tags} />
</Fragment>
