---
import ShareButton from '@components/Article/ShareButton.astro';
import FormattedDate from '@components/Date/FormattedDate.astro';
import ReadingTimeText from '@components/ReadingTime/ReadingTimeText.astro';
import TagList from '@components/Tag/TagList.astro';

type Props = {
  title: string;
  description: string;
  publishedDate: Date;
  tags: string[];
  minutesToRead: number;
  category: string;
  link: string;
};

const {
  minutesToRead,
  title,
  description,
  publishedDate,
  tags,
  category,
  link,
} = Astro.props;
---

<Fragment>
  <div
    class="my-2 flex items-center justify-between text-sm lg:mb-4 lg:text-base"
  >
    <div class="flex items-center gap-2">
      <span>{category}</span>
      <span>|</span>
      <FormattedDate date={publishedDate} />
      <ReadingTimeText readingTime={minutesToRead} />
    </div>
    <ShareButton title={title} url={link} />
  </div>
  <h1 class="mb-4 break-keep text-3xl font-medium leading-tight">
    {title}
  </h1>
  <p class="mb-2 break-keep">{description}</p>
  <TagList tags={tags} />
</Fragment>
