---
import Header from './Header.astro';
import Title from './Title.astro';
import Description from './Description.astro';

type Props = {
  title: string;
  description: string;
  publishedDate: Date;
  link: string;
  category: string;
};

const { title, description, publishedDate, link, category } = Astro.props;
---

<a href={link} class="flex flex-col space-y-2">
  <article
    class="hover:animate-moveRight group relative w-full overflow-hidden break-keep rounded-lg p-2 transition-all duration-300 ease-in-out hover:bg-gray-100/90 hover:dark:bg-gray-700/90 lg:p-4"
  >
    <Header category={category} publishedDate={publishedDate} />
    <Title title={title} />
    <Description description={description} />
  </article>
</a>
