---
type Props = {
  url: string;
  name: string;
  svg: string;
};
const { url, name, svg } = Astro.props;
---

<a
  href={url}
  target="_blank"
  aria-label={`${name} link`}
  aria-describedby={`${name} icon`}
>
  <figure>
    <Fragment set:html={svg} />
  </figure>
  <span class="sr-only">Go to {name} page</span>
</a>
