---
import { Icon } from 'astro-icon/components';
type Props = {
  url: string;
  name: string;
};
const { url, name } = Astro.props;

const iconStyle =
  'size-12 p-3 cursor-pointer text-gray-400 hover:text-accent fill-current hover:scale-110';
---

<a
  href={url}
  target="_blank"
  aria-label={`${name} link`}
  aria-describedby={`${name} icon`}
>
  <Icon name={name} class={iconStyle} />
  <span class="sr-only">Go to {name} page</span>
</a>
