---
import Title from './Title.astro';
import Description from './Description.astro';
import FormattedDate from '@components/Common/FormattedDate.astro';
import Category from './Category.astro';
import ReadingTimeText from '@components/Post/ReadingTimeText.astro';
import Tag from './Tag.astro';
import TagList from './TagList.astro';

type Props = {
  title: string;
  description: string;
  publishedDate: Date;
  tags: string[];
  link: string;
  category?: string;
  readingTime?: number;
};

const { title, description, publishedDate, tags, link, category, readingTime } =
  Astro.props;
---

<article class="group relative w-full break-keep border-b">
  <a href={link} class="mx-auto flex w-full flex-col gap-2 rounded-lg py-2">
    {category && <Category category={category} />}
    <Title title={title} />
    <TagList tags={tags} />
    <Description description={description} />
    <p class="flex w-full items-center gap-2 text-sm text-content">
      <FormattedDate date={publishedDate} />
      {readingTime && <ReadingTimeText readingTime={readingTime} />}
    </p>
  </a>
</article>
