---
import Title from './Title.astro';
import Description from './Description.astro';
import FormattedDate from '@components/Common/FormattedDate.astro';
import Category from './Category.astro';
import ReadingTimeText from '@components/Post/ReadingTimeText.astro';
import TagList from './TagList.astro';
import ReadMore from './ReadMore.astro';

type Props = {
  title: string;
  description: string;
  publishedDate: Date;
  tags: string[];
  link: string;
  category?: string;
  readingTime?: number;
};

const { title, description, publishedDate, tags, link, category, readingTime } =
  Astro.props;
---

<article
  class="group relative flex w-full flex-col gap-2 break-keep border-b py-2">
  {category && <Category category={category} />}
  <Title title={title} link={link} />
  <TagList tags={tags} />
  <Description description={description} />
  <div class="flex items-center justify-between text-sm text-content">
    <div class="flex gap-4">
      <FormattedDate date={publishedDate} />
      <div class="hidden md:flex">
        {readingTime && <ReadingTimeText readingTime={readingTime} />}
      </div>
    </div>
    <ReadMore link={link} />
  </div>
</article>
