---
import Thumbnail from './Thumbnail.astro';
import Title from './Title.astro';
import Tag from './Tag.astro';
import Description from './Description.astro';
import FormattedDate from '@components/Common/FormattedDate.astro';

type Props = {
  title: string;
  description: string;
  publishedDate: Date;
  tags: string[];
  cover?: any;
  link: string;
  category?: string;
};

const { title, description, publishedDate, tags, cover, link, category } =
  Astro.props;
const mainTag = tags[0];
---

<article class="group relative">
  <a href={link} class="mx-auto flex w-full max-w-3xl flex-col rounded-lg">
    <div class="flex gap-4">
      <Thumbnail image={cover.src} title={title} />
      <div>
        <Title title={title} />
        <Description description={description} />
        <p class="flex gap-2 text-sm text-content">
          <FormattedDate date={publishedDate} />
          <Tag tag={mainTag} />
        </p>
      </div>
    </div>
  </a>
</article>
