---
import { TagList } from '@/entities/tag';
import PostMeta from './PostMeta.astro';

type Props = {
  title: string;
  description: string;
  publishedDate: Date;
  tags: string[];
  minutesToRead: number;
  category: string;
  link: string;
};

const { minutesToRead, title, description, publishedDate, tags, link } =
  Astro.props;

const titleStyle = `text-3xl leading-tight text-balance lg:text-4xl lg:font-semibold`;
---

<div class="flex flex-col gap-4 break-keep">
  <h1 data-pagefind-weight="10" data-pagefind-meta="title" class={titleStyle}>
    {title}
  </h1>
  <PostMeta
    publishedDate={publishedDate}
    minutesToRead={minutesToRead}
    title={title}
    link={link}
  />
  <p>{description}</p>
  <TagList tags={tags} />
</div>
