---
import { getCollection, type CollectionEntry } from 'astro:content';
import { sortPostsByDateDesc } from '@utils/data-util';
import Post from '@components/Post/Post.astro';

type Props = {
  pageSize?: number;
};

const { pageSize } = Astro.props;

const posts: CollectionEntry<'blog'>[] = (await getCollection('blog')).sort(
  sortPostsByDateDesc
);
---

<ul class="mx-auto mt-4 w-full max-w-5xl space-y-4 lg:mt-8 lg:space-y-6">
  {
    posts.slice(0, pageSize).map((post) => (
      <li>
        <Post
          title={post.data.title}
          description={post.data.description}
          publishedDate={post.data.publishedDate}
          tags={post.data.tags}
          link={`/blog/${post.slug}`}
          category={post.data.category}
        />
      </li>
    ))
  }
</ul>
