---
import CardFooter from './CardFooter.astro';
import CardHeader from './CardHeader.astro';
import CardBody from './CardBody.astro';

type Props = {
  title: string;
  description: string;
  publishedDate: Date;
  tags: string[];
  cover?: any;
  link: string;
};

const { title, description, publishedDate, tags, cover, link } = Astro.props;
const mainTag = tags[0];
---

<a
  href={link}
  class="mx-auto flex w-full max-w-sm flex-col items-center rounded-lg border hover:scale-105 hover:shadow-lg dark:border-gray-700"
>
  <CardHeader title={title} image={cover.src} />
  <CardBody title={title} description={description} />
  <CardFooter mainTag={mainTag} publishedDate={publishedDate} />
</a>
