---
import { Image } from 'astro:assets';
import config from '@config/config.json';
import social from '@config/social';

type techItem = string;

const techStack: techItem[] = config.author.tech.split(', ');
const socialLinks = social.socialLinks;
---

<section class="bg-white dark:bg-zinc-900">
  <div
    class="flex items-start justify-between max-w-screen-lg mx-auto py-4 sm:pb-12 px-4"
  >
    <div class="rounded-lg w-3/5 lg:w-4/5">
      <h1
        class="text-lg md:text-2xl font-bold text-zinc-900 dark:text-white sm:text-3xl mb-0"
      >
        {config.author.name}
      </h1>
      <p class="mt-1.5 text-sm md:text-base text-gray-500">
        {config.author.bio}
      </p>
      <div class="flex space-x-5 pt-4 m-auto">
        {techStack?.map((item) => <span class="">#{item}</span>)}
      </div>
      <div class="flex space-x-5 pt-8 m-auto">
        {
          socialLinks?.map((item) => (
            <a href={item.url} target="_blank" rel="noopener noreferrer">
              <figure>
                <Fragment set:html={item.svg} />
              </figure>
            </a>
          ))
        }
      </div>
    </div>
    <div class="rounded-lg">
      <figure class="right-0">
        <Image
          class="rounded-lg w-24 md:w-32"
          width={512}
          height={512}
          alt={config.author.name}
          src={config.author.avatar}
        />
      </figure>
    </div>
  </div>
</section>
