---
import { Image } from 'astro:assets';
import config from '@config/config.json';
import social from '@config/social';

type techItem = string;

const techStack: techItem[] = config.author.tech.split(', ');
const socialLinks = social.socialLinks;
import avatar from '@assets/avatar.png';
---

<section>
  <div
    class="mx-auto mb-4 flex max-w-screen-lg items-start justify-between border-b px-2 py-4"
  >
    <div class="w-3/5 rounded-lg lg:w-4/5">
      <h1
        class="mb-0 text-lg font-bold sm:text-3xl text-content"
      >
        {config.author.name}
      </h1>
      <p class="mt-1.5 text-sm text-subContent md:text-base">
        {config.author.bio}
      </p>
      <div class="m-auto flex space-x-5 pt-4">
        {techStack?.map((item) => <span class="font-bold text-content">#{item}</span>)}
      </div>
      <div class="m-auto flex space-x-5 pt-8">
        {
          socialLinks?.map((item) => (
            <a href={item.url} target="_blank" rel="noopener noreferrer">
              <figure>
                <Fragment set:html={item.svg} />
              </figure>
            </a>
          ))
        }
      </div>
    </div>
    <div class="rounded-lg">
      <figure class="right-0">
        <Image
          class="w-24 rounded-lg md:w-32"
          width={512}
          height={512}
          alt={config.author.name}
          src={avatar}
        />
      </figure>
    </div>
  </div>
</section>
