---
import { Image } from 'astro:assets';
import FormattedDate from './FormattedDate.astro';
const { title, heroImage, pubDate, slug, description } = Astro.props;
const url = `/blog/${slug}`;
---

<article class="flex w-full flex-col items-start gap-2">
  <div class="h-auto w-full overflow-hidden rounded-lg shadow-sm md:h-44">
    {
      heroImage && (
        <a href={url}>
          <Image
            class="transiton h-full w-full object-cover object-center duration-300 ease-in-out hover:scale-110"
            src={heroImage}
            alt={title}
            width="960"
            height="480"
            quality="mid"
          />
        </a>
      )
    }
  </div>
  <div class="flex items-center gap-x-4 text-xs text-content lg:text-sm">
    <FormattedDate date={pubDate} />
  </div>
  <div class="relative">
    <h2
      class="mt-3 text-xl font-semibold leading-6 text-content group-hover:text-accent"
    >
      <a
        href={url}
        class="underline-offset-8 hover:text-accent hover:underline"
      >
        <span class="inset-0">{title}</span>
      </a>
    </h2>
    <p class="mt-3 line-clamp-2 text-sm leading-6 text-subContent">
      {description}
    </p>
  </div>
</article>
