---
import CardImage from './CardImage.astro';
import FormattedDate from './FormattedDate.astro';
const { title, image, pubDate, slug, description, category } = Astro.props;

const url = `/blog/${slug}`;
---

<a
  href={url}
  class="relative flex w-full flex-col items-start gap-2 overflow-hidden rounded-lg hover:shadow-lg md:max-w-xs"
>
  <CardImage image={image.filename} title={image.alt} />
  <div
    class="flex w-full flex-col items-start gap-x-4 p-2 text-xs text-content lg:text-sm"
  >
    <div class="flex w-full items-center justify-between">
      <FormattedDate date={pubDate} />
      <span class="rounded-md bg-accent px-2 py-1 text-xs text-white"
        >{category}</span
      >
    </div>
    <h2
      class="mt-2 text-xl font-semibold leading-6 text-content underline-offset-8 hover:text-accent hover:underline"
    >
      {title}
    </h2>
    <p class="mt-1 line-clamp-2 break-keep text-sm leading-6 text-subContent">
      {description}
    </p>
  </div>
</a>
