---
import PostCard from '@components/PostCard.astro';

const { articles } = Astro.props;
---

<ul class="flex w-full flex-wrap justify-start gap-8 px-0 xl:basis-3/4">
  {
    articles?.length &&
      articles.map((article: any) => {
        article.content.slug = article.slug;
        return (
          <li>
            <PostCard
              title={article.content.title}
              description={article.content.teaser}
              image={article.content.image}
              slug={article.content.slug}
              pubDate={article.content.pubDate}
              category={article.content.category}
            />
          </li>
        );
      })
  }
</ul>
