---
import FormattedDate from './FormattedDate.astro';
import ReadingTimeText from './ReadingTimeText.astro';
import TagItem from './TagItem.astro';
import type { CollectionEntry } from 'astro:content';

type Props = {
  post: CollectionEntry<'posts'>;
  minutesToReadText: string;
};

const { post, minutesToReadText } = Astro.props;
const { title, description, publishedDate, tags } = post.data;
const readingTime = minutesToReadText.split(' ')[0];
---

<section class="flex w-full flex-col items-center gap-4 pb-4 pt-2 text-content">
  <div
    class="mx-auto flex flex-col items-center justify-center gap-2 text-sm sm:flex-row lg:gap-4"
  >
    <FormattedDate date={publishedDate} />
    <ReadingTimeText readingTime={readingTime} />
  </div>
  <h1 class="text-3xl font-black lg:text-5xl">{title}</h1>
  <p>{description}</p>
  <div class="flex flex-wrap items-center gap-x-3">
    {tags.map((tag: string) => <TagItem title={tag} />)}
  </div>
</section>
