---
import type { CollectionEntry } from 'astro:content';
import FormattedDate from './FormattedDate.astro';
import Category from './Category.astro';
import CardImage from './CardImage.astro';

interface Props {
  post: CollectionEntry<'blog'>;
}
const { post } = Astro.props;

const { title, description, image, publishedDate, categories, tags } = post.data;

const slug = post.slug;
const url = `/blog/${slug}`;
const mainTag = tags[0];
---

<article class="flex w-full flex-col gap-4 md:flex-row">
  <CardImage image={image} title={title} url={url} />
  <div
    class="flex w-full flex-col items-start gap-x-4 gap-y-2 p-2 text-content lg:text-sm"
  >
    <Category categories={categories} />
    <a href={url}>
      <h2
        class="mt-2 text-xl font-semibold leading-6 text-content underline-offset-8 hover:text-accent hover:underline lg:text-2xl"
      >
        {title}
      </h2>
    </a>
    <p class="mt-1 line-clamp-2 break-keep text-sm leading-6 text-subContent">
      {description}
    </p>
    <div class="flex flex-wrap gap-2">
      <a href=`/tags/${mainTag}` class="font-bold uppercase text-accent">
        {mainTag}
      </a>
      <FormattedDate date={publishedDate} />
    </div>
  </div>
</article>
