---
import config from '@config/config.json';
import PostCard from '@components/PostCard.astro';

const { posts } = Astro.props;

type PostType = {
  id: string;
  slug: string;
  body: string;
  collection: string;
  data: {
    title: string;
    description: string;
    heroImage: string;
    pubDate: Date;
    categories: string[];
    tags: string[];
    author: string;
  };
};
---

<section class="flex w-full flex-wrap justify-start gap-8 px-0 xl:basis-3/4">
  {
    posts
      ?.slice(0, config.site.pageSize)
      .map((post: PostType) => (
        <PostCard
          title={post.data.title}
          description={post.data.description}
          slug={post.slug}
          heroImage={post.data.heroImage}
          pubDate={post.data.pubDate}
          categories={post.data.categories}
        />
      ))
  }
</section>
