---
import FormattedDate from './FormattedDate.astro';
import Category from './Category.astro';
import CardImage from './CardImage.astro';
const { title, heroImage, pubDate, slug, description, categories } =
  Astro.props;
const url = `/blog/${slug}`;
---

<a
  href={url}
  class="relative flex w-full flex-col items-start gap-2 overflow-hidden rounded-lg hover:shadow-lg md:max-w-xs"
>
  <CardImage image={heroImage} title={title} />
  <div
    class="flex w-full flex-col items-start gap-x-4 p-2 text-xs text-content lg:text-sm"
  >
    <div class="flex w-full items-center justify-between">
      <FormattedDate date={pubDate} />
      <Category categories={categories} />
    </div>

    <h2
      class="mt-2 text-xl font-semibold leading-6 text-content underline-offset-8 hover:text-accent hover:underline"
    >
      {title}
    </h2>
    <p class="mt-1 line-clamp-2 break-keep text-sm leading-6 text-subContent">
      {description}
    </p>
  </div>
</a>
