---
import FormattedDate from './FormattedDate.astro';
import ReadingTimeText from './ReadingTimeText.astro';
import TagItem from './TagItem.astro';
import type { CollectionEntry } from 'astro:content';
import PostThumbnail from './PostThumbnail.astro';

type Props = {
  post: CollectionEntry<'blog'>;
  minutesToReadText: string;
};

const { post, minutesToReadText } = Astro.props;
const { title, description, publishedDate, tags, category, cover, author } =
  post.data;
const readingTime = minutesToReadText.split(' ')[0];
---

<section class="flex w-full flex-col items-center gap-4 pb-4 pt-2 text-content">
  <h1 class="text-3xl font-black lg:text-5xl">{title}</h1>
  <p>{description}</p>
  <div
    class="mx-auto flex flex-col items-center justify-center gap-2 sm:flex-row lg:gap-4"
  >
    <span class="font-bold">{author}</span>
    <FormattedDate date={publishedDate} />
    <ReadingTimeText readingTime={readingTime} />
  </div>
  <div class="flex flex-wrap items-center gap-x-3">
    {tags.map((tag: string) => <TagItem url={`/tags/${tag}`} title={tag} />)}
  </div>
  {category === 'Project' && <PostThumbnail image={cover.src} alt={title} />}
</section>
