---
import { Image } from 'astro:assets';
import FormattedDate from './FormattedDate.astro';
const { title, heroImage, pubDate, slug, description, categories } =
  Astro.props;
const url = `/blog/${slug}`;
---

<a
  href={url}
  class="relative flex w-full flex-col items-start gap-2 overflow-hidden rounded-lg border hover:shadow-lg max-w-xs"
>
  <div class="h-auto w-full overflow-hidden shadow-sm md:h-40">
    {
      heroImage && (
        <figure class="transiton mx-auto h-full w-full object-cover object-center duration-300 ease-in-out hover:scale-110">
          <Image
            src={heroImage}
            alt={title}
            width="620"
            height="288"
            quality="mid"
            class="h-full w-full"
          />
        </figure>
      )
    }
  </div>
  <div
    class="flex flex-col items-start gap-x-4 p-2 pb-12 text-xs text-content lg:text-sm"
  >
    <FormattedDate date={pubDate} />

    <h2
      class="mt-2 text-xl font-semibold leading-6 text-content group-hover:text-accent"
    >
      <span class="inset-0">{title}</span>
    </h2>
    <p class="mt-1 line-clamp-2 break-keep text-sm leading-6 text-subContent">
      {description}
    </p>
  </div>
  <div
    class="absolute bottom-0 mt-1 flex gap-2 px-2 py-2 text-sm text-subContent"
  >
    {categories.map((category: string) => <span class="">#{category}</span>)}
  </div>
</a>
