---
import FormattedDate from './FormattedDate.astro';
import PostThumbnail from './PostThumbnail.astro';
import ReadingTimeText from './ReadingTimeText.astro';
import TagItem from './TagItem.astro';
import type { CollectionEntry } from 'astro:content';
import TagList from './TagList.astro';

type Props = {
  project: CollectionEntry<'projects'>;
  minutesToReadText: string;
};

const { project, minutesToReadText } = Astro.props;
const { title, description, publishedDate, tags, category, cover, author } =
  project.data;
const readingTime = minutesToReadText.split(' ')[0];
---

<section class="flex w-full flex-col items-center gap-4 pb-4 pt-2 text-content">
  <div
    class="mx-auto flex flex-col items-center justify-center gap-4 text-sm sm:flex-row"
  >
    <FormattedDate date={publishedDate} />
    <ReadingTimeText readingTime={readingTime} />
  </div>
  <h1 class="text-3xl font-black lg:text-5xl">{title}</h1>
  <p>{description}</p>
  <TagList tags={tags} />
  <PostThumbnail image={cover.src} alt={title} />
</section>
