---
import { Category } from '@/entities/category';
import type { PostEntry } from '@/shared/types';

interface Props {
  post: PostEntry;
}

const { post } = Astro.props as Props;

const {
  id,
  data: { title: postTitle, description: postDescription, category },
} = post;

const href = `${id}`;
---

<a
  href={`${href}`}
  class="group hover:bg-surface focus-visible:ring-accent block rounded-lg p-2 transition focus-visible:ring-2"
>
  <article class="space-y-1">
    <header class="flex items-baseline gap-2">
      <!-- <Category category={category} /> -->

      <h3
        class="text-primary group-hover:text-accent text-sm font-medium transition sm:text-lg"
      >
        {postTitle}
      </h3>
    </header>

    <p class="text-sub hidden text-sm sm:line-clamp-2 sm:block">
      {postDescription}
    </p>
  </article>
</a>
