---
import FormattedDate from '@components/Date/FormattedDate.astro';
import ReadingTimeText from '@components/Post/ReadingTimeText.astro';
import ShareButton from '@components/Post/ShareButton.astro';
import TagList from '@components/Tag/TagList.astro';

type Props = {
  title: string;
  description: string;
  publishedDate: Date;
  tags: string[];
  minutesToRead: number;
  category: string;
  link: string;
};

const { minutesToRead, title, description, publishedDate, tags, link } =
  Astro.props;
---

<div class="flex flex-col gap-4 break-keep">
  <h1 class="text-3xl leading-tight font-semibold text-balance lg:text-4xl">
    {title}
  </h1>
  <div class="flex items-center justify-between gap-2 text-sm lg:text-base">
    <div class="flex gap-2 text-gray-600 dark:text-gray-400">
      <FormattedDate date={publishedDate} />
      <ReadingTimeText readingTime={minutesToRead} />
    </div>
    <ShareButton title={title} url={link} />
  </div>
  <p>{description}</p>
  <TagList tags={tags} />
</div>
