---
import TagList from '@components/Tag/TagList.astro';
import PostMeta from './PostMeta.astro';

type Props = {
  title: string;
  description: string;
  publishedDate: Date;
  tags: string[];
  minutesToRead: number;
  category: string;
  link: string;
};

const { minutesToRead, title, description, publishedDate, tags, link } =
  Astro.props;

const titleStyle = `text-3xl leading-tight font-semibold text-balance lg:text-4xl`;
---

<div class="flex flex-col gap-4 break-keep">
  <h1 class={titleStyle}>
    {title}
  </h1>
  <PostMeta
    publishedDate={publishedDate}
    minutesToRead={minutesToRead}
    title={title}
    link={link}
  />
  <p>{description}</p>
  <TagList tags={tags} />
</div>
