---
import TagList from '@components/Tag/TagList.astro';
import Header from './Header.astro';
import Title from './Title.astro';
import Description from './Description.astro';

type Props = {
  title: string;
  description: string;
  publishedDate: Date;
  tags: string[];
  link: string;
  category: string;
};

const { title, description, publishedDate, tags, link, category } = Astro.props;
---

<article
  class="group relative w-full overflow-hidden break-keep rounded-lg p-2 drop-shadow-lg transition-all ease-in-out hover:bg-gray-100 hover:dark:bg-gray-700">
  <a href={link} class="flex flex-col space-y-2">
    <Header category={category} publishedDate={publishedDate} />
    <Title title={title} />
    <TagList tags={tags} />
    <Description description={description} />
  </a>
</article>
