---
import Base from '@layouts/Base.astro';
import FormattedDate from '@components/Date/FormattedDate.astro';
import Comments from '@components/Comments';
import PostThumbnail from '@components/Thumbnail/PostThumbnail.astro';
import ReadingTimeText from '@components/ReadingTime/ReadingTimeText.astro';
import TagList from '@components/Tag/TagList.astro';

type Props = {
  minutesToRead: number;
  title: string;
  description: string;
  publishedDate: Date;
  tags: string[];
  cover: ImageMetadata;
  category: string;
};

const {
  minutesToRead,
  title,
  description,
  publishedDate,
  tags,
  cover,
  category,
} = Astro.props;
---

<Base pageTitle={title} description={description}>
  <div
    class="container mx-auto my-4 mt-4 flex w-full flex-col break-keep rounded-lg bg-articleBackground px-8 py-4 text-content"
  >
    <section
      class="flex w-full flex-col items-center gap-4 break-keep text-content"
    >
      <div
        class="mx-auto flex items-center justify-center gap-2 text-sm sm:flex-row lg:gap-4"
      >
        <FormattedDate date={publishedDate} />
        <ReadingTimeText readingTime={minutesToRead} />
      </div>
      <h1 class="text-center text-3xl font-black md:text-4xl lg:text-5xl">
        {title}
      </h1>
      <p class="text-center">{description}</p>
      <TagList tags={tags} />
      {category === 'Project' && <PostThumbnail image={cover} alt={title} />}
    </section>
    <article
      class="prose w-full max-w-screen-lg dark:prose-invert md:prose-lg lg:prose-xl"
    >
      <slot />
    </article>
    <Comments client:idle />
  </div>
</Base>
