---
import Base from '@layouts/Base.astro';
import FormattedDate from '@components/Date/FormattedDate.astro';
import Comments from '@components/Comments';
import PostThumbnail from '@components/Thumbnail/PostThumbnail.astro';
import ReadingTimeText from '@components/ReadingTime/ReadingTimeText.astro';
import TagList from '@components/Tag/TagList.astro';

type Props = {
  minutesToRead: number;
  title: string;
  description: string;
  publishedDate: Date;
  tags: string[];
  cover: ImageMetadata;
  category: string;
};

const {
  minutesToRead,
  title,
  description,
  publishedDate,
  tags,
  cover,
  category,
} = Astro.props;
---

<Base pageTitle={title} description={description}>
  <article class="container mx-auto flex flex-col pt-4">
    <section
      class="flex w-full flex-col items-center gap-4 break-keep py-4 text-content"
    >
      <div
        class="mx-auto flex items-center justify-center gap-2 text-sm sm:flex-row lg:gap-4"
      >
        <FormattedDate date={publishedDate} />
        <ReadingTimeText readingTime={minutesToRead} />
      </div>
      <h1 class="text-center text-2xl font-black md:text-3xl lg:text-4xl">
        {title}
      </h1>
      <p class="text-center">{description}</p>
      <TagList tags={tags} />
      {category === 'Project' && <PostThumbnail image={cover} alt={title} />}
    </section>
    <div
      class="prose mx-auto w-full items-center break-keep p-2 text-base leading-10 text-content dark:prose-invert lg:prose-xl lg:text-xl"
    >
      <slot />
    </div>
    <Comments client:idle />
  </article>
</Base>
