---
import Base from '@layouts/Base.astro';
import FormattedDate from '@components/Date/FormattedDate.astro';
import Comments from '@components/Comments';
import PostThumbnail from '@components/Thumbnail/PostThumbnail.astro';
import ReadingTimeText from '@components/ReadingTime/ReadingTimeText.astro';
import TagList from '@components/Tag/TagList.astro';

type Props = {
  minutesToRead: number;
  title: string;
  description: string;
  publishedDate: Date;
  tags: string[];
  cover: ImageMetadata;
  category: string;
};

const {
  minutesToRead,
  title,
  description,
  publishedDate,
  tags,
  cover,
  category,
} = Astro.props;
---

<Base pageTitle={title} description={description}>
  <article class="mx-auto flex w-full max-w-3xl flex-col">
    <section
      class="flex w-full flex-col items-center gap-4 break-keep pb-4 pt-2 text-content">
      <div
        class="mx-auto flex items-center justify-center gap-2 text-sm sm:flex-row lg:gap-4">
        <FormattedDate date={publishedDate} />
        <ReadingTimeText readingTime={minutesToRead} />
      </div>
      <h1 class="text-2xl font-black lg:text-5xl">{title}</h1>
      <p>{description}</p>
      <TagList tags={tags} />
      {category === 'Project' && <PostThumbnail image={cover} alt={title} />}
    </section>
    <div
      class="prose mx-auto my-4 w-full items-center break-keep text-base leading-10 text-content dark:prose-invert lg:max-w-5xl lg:text-xl">
      <slot />
    </div>
    <Comments client:idle />
  </article>
</Base>