---
import Base from '@layouts/Base.astro';
import PostComments from '@components/Comments/PostComments.astro';
import ArticleHeader from '@components/Article/ArticleHeader.astro';
import ArticleToc from '@components/Article/ArticleToc.astro';
import PostThumbnail from '@components/Thumbnail/PostThumbnail.astro';

type Heading = {
  depth: number;
  slug: string;
  text: string;
};

export type Props = {
  minutesToRead: number;
  title: string;
  description: string;
  publishedDate: Date;
  tags: string[];
  cover?: ImageMetadata;
  category: string;
  headings: Heading[];
  slug: string;
};

const {
  minutesToRead,
  title,
  description,
  publishedDate,
  tags,
  cover,
  category,
  headings,
  slug,
} = Astro.props;

const isHeadings = headings && headings.length > 0;
---

<Base
  pageTitle={title}
  description={description}
  image={`${import.meta.env.SITE}/blog/${slug}/og.png`}
>
  <ArticleHeader
    minutesToRead={minutesToRead}
    title={title}
    description={description}
    publishedDate={publishedDate}
    tags={tags}
    cover={cover}
    category={category}
  />
  <section
    class="flex w-full max-w-5xl gap-4 break-keep rounded-b-md bg-articleBackground p-4"
  >
    <div class:list={['w-full', `${isHeadings ? 'lg:w-3/4' : ''}`]}>
      <article class="prose w-full max-w-5xl dark:prose-invert xl:prose-xl lg:p-4">
        {
          category === 'Project' && cover && (
            <PostThumbnail image={cover} alt={title} />
          )
        }
        <slot />
      </article>
      <PostComments />
    </div>
    {isHeadings && <ArticleToc headings={headings} />}
  </section>
</Base>
