---
import Base from '@layouts/Base.astro';
import PostComments from '@components/Comments/PostComments.astro';
import ArticleHeader from '@components/Article/ArticleHeader.astro';
import ArticleToc from '@components/Article/ArticleToc.astro';
import PostThumbnail from '@components/Thumbnail/PostThumbnail.astro';

type Heading = {
  depth: number;
  slug: string;
  text: string;
};

export type Props = {
  minutesToRead: number;
  title: string;
  description: string;
  publishedDate: Date;
  tags: string[];
  cover?: ImageMetadata;
  category: string;
  headings: Heading[];
};

const {
  minutesToRead,
  title,
  description,
  publishedDate,
  tags,
  cover,
  category,
  headings,
} = Astro.props;
---

<Base pageTitle={title} description={description}>
  <ArticleHeader
    minutesToRead={minutesToRead}
    title={title}
    description={description}
    publishedDate={publishedDate}
    tags={tags}
    cover={cover}
    category={category}
  />
  <section class="flex rounded-b-md bg-articleBackground p-4">
    <div class="w-3/4">
      <article class="prose w-full dark:prose-invert lg:prose-lg">
        {
          category === 'Project' && cover && (
            <PostThumbnail image={cover} alt={title} />
          )
        }
        <slot />
      </article>
      <PostComments />
    </div>
    <div class="w-1/4">
      <ArticleToc headings={headings} />
    </div>
  </section>
</Base>
