---
import Base from '@layouts/Base.astro';
import PostComments from '@components/Comments/PostComments.astro';
import ArticleHeader from '@components/Article/ArticleHeader.astro';
import ArticleToc from '@components/Article/ArticleToc.astro';
import PostThumbnail from '@components/Thumbnail/PostThumbnail.astro';

type Heading = {
  depth: number;
  slug: string;
  text: string;
};

export type Props = {
  minutesToRead: number;
  title: string;
  description: string;
  publishedDate: Date;
  tags: string[];
  cover?: ImageMetadata;
  category: string;
  headings: Heading[];
  slug: string;
};

const {
  minutesToRead,
  title,
  description,
  publishedDate,
  tags,
  cover,
  category,
  headings,
  slug,
} = Astro.props;
---

<Base
  pageTitle={title}
  description={description}
  image={`${import.meta.env.SITE}/blog/${slug}/og.png`}
>
  <div class="flex w-full max-w-4xl flex-col space-y-4">
    <ArticleHeader
      minutesToRead={minutesToRead}
      title={title}
      description={description}
      publishedDate={publishedDate}
      tags={tags}
      cover={cover}
      category={category}
    />
    <slot />
  </div>
</Base>
