---
import { Footer, Header } from '@components/layout';
import { BackToTop } from '@components/navigation';
import { SITE } from '@config';

import BaseHead from '@layouts/BaseHead.astro';

import '@styles/global.css';
import type { HeadProps } from './head';

interface Props {
  head: HeadProps;
}

const { head } = Astro.props;
---

<!doctype html>
<html lang={SITE.lang}>
  <BaseHead
    title={head.title}
    description={head.description}
    ogImage={head.ogImage}
    canonicalUrl={head.canonicalUrl}
  />
  <body>
    <Header />
    <main role="main">
      <slot />
    </main>
    <BackToTop />
    <Footer />
  </body>
</html>
