---
import BaseHead from '@components/Common/BaseHead.astro';
import Header from '@components/Header/Header.astro';
import Footer from '@components/Footer/Footer.astro';
import config from '@config/site-config';

import { ViewTransitions } from 'astro:transitions';

export type Props = {
  pageTitle?: string;
  description?: string;
  image?: string;
  noindex?: string;
  canonical?: string;
};

const { pageTitle, description, image } = Astro.props;
const title = pageTitle
  ? `${pageTitle} | ${config.site.title}`
  : config.site.title;
---

<html lang={config.site.lang}>
  <head>
    <BaseHead
      title={title}
      description={description || config.metadata.meta_description}
      image={image}
    />
    <ViewTransitions />
  </head>
  <body class="relative bg-bkg">
    <Header />
    <main
      class="container flex min-h-[calc(100vh-95px)] flex-grow flex-col px-4 pb-4 pt-20"
    >
      <slot />
    </main>
    <Footer />
    <script></script>
  </body>
</html>
