---
import { SITE as config } from '@config/site-config';

import BaseHead from '@layouts/BaseHead.astro';

import Footer from '@components/Footer/Footer.astro';
import Header from '@components/Header/Header.astro';

import BackToTop from '@components/BackButton/BackToTop.astro';
import '@styles/global.css';

type Props = {
  title: string;
  description?: string;
  image?: string;
};

const { title, description, image } = Astro.props;

const pageTitle =
  title !== 'Home' ? `${title} | ${config.site.title}` : `${config.site.title}`;
---

<!doctype html>
<html lang={config.site.lang}>
  <head>
    <BaseHead
      title={pageTitle}
      description={description || config.metadata.meta_description}
      image={image}
    />
  </head>
  <body>
    <Header />
    <main role="main">
      <slot />
    </main>
    <BackToTop />
    <Footer />
  </body>
</html>
