---
import { SITE_META } from '@/config';
import { ClientRouter } from 'astro:transitions';

type Props = {
  title?: string;
  description?: string;
  ogImage?: string;
  canonicalUrl?: string;
};

const { title, description, ogImage, canonicalUrl } = Astro.props;

const finalTitle =
  title === SITE_META.title ? SITE_META.title : `${title} | ${SITE_META.title}`;
const finalDescription = description ?? SITE_META.description;

const site = Astro.site;

const finalCanonical = canonicalUrl
  ? new URL(canonicalUrl, site).toString()
  : site?.toString();

const finalOgImage =
  ogImage && site ? new URL(ogImage, site).toString() : ogImage;
---

<head>
  <meta charset="utf-8" />
  <meta
    name="viewport"
    content="width=device-width,initial-scale=1,viewport-fit=cover"
  />
  <link rel="icon" type="image/svg+xml" href="/favicon.png" />
  <meta name="generator" content={Astro.generator} />
  <link rel="sitemap" href="/sitemap-index.xml" />
  {finalCanonical && <link rel="canonical" href={finalCanonical} />}
  <link
    rel="alternate"
    type="application/rss+xml"
    title="Woongsnote"
    href={new URL('rss.xml', Astro.site)}
  />
  <title>{finalTitle}</title>
  <meta name="title" content={finalTitle} />
  <meta name="description" content={finalDescription} />

  <meta property="og:type" content="website" />
  <meta property="og:url" content={finalCanonical} />
  <meta property="og:title" content={finalTitle} />
  <meta property="og:description" content={finalDescription} />
  <meta property="og:image" content={finalOgImage} />
  <meta property="og:site_name" content="Woongsnote" />

  <meta property="twitter:card" content="summary_large_image" />
  <meta property="twitter:url" content={finalCanonical} />
  <meta property="twitter:title" content={finalTitle} />
  <meta property="twitter:description" content={finalDescription} />
  <meta property="twitter:image" content={finalOgImage} />

  <ClientRouter />

  <script is:inline>
    const stored = localStorage.getItem('theme');
    const system = matchMedia('(prefers-color-scheme: dark)').matches
      ? 'dark'
      : 'light';
    document.documentElement.setAttribute(
      'data-theme',
      stored === 'system' || !stored ? system : stored
    );
    if (stored === 'light' || stored === 'dark') {
      document.documentElement.setAttribute('data-theme', stored);
    }
  </script>
</head>
