---
import BaseHead from '@components/Common/BaseHead.astro';
import Header from '@components/Header/Header.astro';
import Footer from '@components/Footer/Footer.astro';
import MobileNav from '@components/Nav/MobileNav.astro';

import config from '@config/site-config';
import { ViewTransitions } from 'astro:transitions';

type Props = {
  pageTitle?: string;
  description?: string;
  image?: string;
};

const { pageTitle, description, image } = Astro.props;
const title = pageTitle
  ? `${pageTitle} | ${config.site.title}`
  : config.site.title;
---

<html lang={config.site.lang}>
  <head>
    <BaseHead
      title={title}
      description={description || config.metadata.meta_description}
      image={image}
    />
    <ViewTransitions />
  </head>
  <body class="relative flex min-h-screen flex-col bg-bkg">
    <Header />
    <main class="container flex-grow px-4 pb-4 pt-20">
      <slot />
    </main>
    <Footer />
    <MobileNav />
  </body>
</html>
