---
import { SITE as config } from '@config/site-config';
import BaseHead from '@components/Base/BaseHead.astro';
import Header from '@components/Header/Header.astro';
import Footer from '@components/Footer/Footer.astro';
import MobileNav from '@components/Nav/MobileNav.astro';

type Props = {
  pageTitle: string;
  description?: string;
  image?: string;
};

const { pageTitle, description, image } = Astro.props;

const title =
  pageTitle !== 'Home'
    ? `${pageTitle} | ${config.site.title}`
    : `${config.site.title} - ${config.site.description}`;
---

<!doctype html>
<html lang={config.site.lang}>
  <head>
    <BaseHead
      title={title}
      description={description || config.metadata.meta_description}
      image={image}
    />
  </head>
  <body class="relative flex min-h-screen flex-col bg-background">
    <Header />
    <main class="mx-auto w-full max-w-4xl flex-grow px-2 pb-4 pt-12 lg:px-0">
      <slot />
    </main>
    <Footer />
    <MobileNav />
  </body>
</html>
