---
import Base from '@layouts/Base.astro';
import type { CollectionEntry } from 'astro:content';
import { Image } from 'astro:assets';
import PostHeader from '@components/PostHeader.astro';
import Comments from '@components/Comments';

type Props = CollectionEntry<'blog'>['data'] & { minutesRead: any };

const { title, description, pubDate, heroImage, tags, minutesRead } =
  Astro.props;
---

<Base meta_title={title} description={description} image={heroImage} blogpost>
  <article class="mx-auto flex flex-col p-4">
    <PostHeader
      title={title}
      description={description}
      pubDate={pubDate}
      tags={tags}
      minutesRead={minutesRead}
    />
    <div
      class="mx-auto mb-4 flex items-center justify-center overflow-hidden rounded-lg shadow-sm"
    >
      {
        heroImage && (
          <figure class="mx-auto h-auto w-auto object-cover object-center duration-300 ease-in-out hover:scale-110 md:h-72">
            <Image
              src={heroImage}
              alt={title}
              width="960"
              height="540"
              class="h-full w-full"
            />
          </figure>
        )
      }
    </div>
    <div
      class="prose mx-auto my-4 w-full items-center text-base leading-10 text-content dark:prose-invert lg:max-w-5xl lg:text-xl"
    >
      <slot />
    </div>
    <Comments client:idle />
  </article>
</Base>
