---
import type { CollectionEntry } from 'astro:content';
import Card from '@components/Card/Card.astro';

type Props = {
  posts: CollectionEntry<'blog'>[];
  pageSize: number;
};

const { posts, pageSize } = Astro.props;
---

<section class="mx-auto flex w-full max-w-5xl flex-col items-start space-y-8">
  {
    posts
      .slice(0, pageSize)
      .map((post) => (
        <Card
          title={post.data.title}
          description={post.data.description}
          publishedDate={post.data.publishedDate}
          tags={post.data.tags}
          link={`/blog/${post.slug}`}
          category={post.data.category}
          readingTime={post.data.readingTime}
        />
      ))
  }
</section>
