---
import BackToTop from '@/components/common/BackToTop.astro';
import {
  Comments,
  PostThumbnail,
  ReadingTimeText,
  ShareButton,
  TagList,
  Toc,
} from '@/components/post';
import { formatDate } from '@/lib/date';
import type { PostEntry } from '@/types';
import type { MarkdownHeading } from 'astro';
import BaseLayout from './BaseLayout.astro';

type Props = {
  post: PostEntry;
  headings: MarkdownHeading[];
  readingTime: number | null;
};

const { post, headings, readingTime } = Astro.props;
const {
  title,
  description,
  publishedDate,
  tags,
  category,
  link,
  cover,
  coverAlt,
} = post.data;

const hasToc = headings.length > 0;
const isProject = category === 'Project';
const postDate = formatDate(publishedDate);
---

<BaseLayout
  title={title}
  description={description}
  image={`/${post.id}/og.png`}
  articleDate={publishedDate.toISOString()}
>
  <article
    data-pagefind-body
    class="prose mx-auto mt-4 w-full max-w-3xl p-2 break-keep"
  >
    <header class="not-prose flex flex-col gap-4">
      <h1
        data-pagefind-weight="10"
        data-pagefind-meta="title"
        class="text-base-content text-3xl leading-tight font-bold text-balance lg:text-4xl"
      >
        {title}
      </h1>
      <div class="flex items-center justify-between gap-2 text-sm lg:text-base">
        <div class="text-base-content/60 flex gap-2">
          <span>{postDate}</span>
          {readingTime && <ReadingTimeText readingTime={readingTime} />}
        </div>
        <ShareButton title={title} url={Astro.url.href} />
      </div>
      <p class="text-base-content/70">{description}</p>
      <TagList tags={tags} />
    </header>
    <div class="divider"></div>
    {hasToc && <Toc headings={headings} />}
    {
      isProject && cover && (
        <PostThumbnail
          image={cover}
          alt={coverAlt ?? title}
          title={title}
          link={link}
        />
      )
    }
    <slot />
    <Comments />
  </article>
  <BackToTop />
</BaseLayout>
