---
import { Icon } from 'astro-icon/components';
import NavLink from './NavLink.astro';
import { NAV_ITEMS } from '@config/site-config';

const navIconStyle = 'size-6 inline-block';
---

<nav class="fixed bottom-0 left-0 z-50 mx-auto w-full md:hidden">
  <ul
    class="flex items-center justify-between border-t bg-background text-subContent"
  >
    {
      NAV_ITEMS.map(({ title, href }) => (
        <li class="flex flex-1 flex-col items-center justify-center py-4 text-sm hover:text-accent">
          <NavLink href={href} aria-label={`go to ${title} page`}>
            {title === 'Home' && <Icon name="home" class={navIconStyle} />}
            {title === 'About' && <Icon name="about" class={navIconStyle} />}
            {title === 'Blog' && <Icon name="post" class={navIconStyle} />}
            <span class="sr-only">{title}</span>
          </NavLink>
        </li>
      ))
    }
  </ul>
</nav>
