---
import { Icon } from 'astro-icon/components';
import NavLink from './NavLink.astro';
import { NAV_ITEMS } from '@config/site-config';

const navIconStyle = `size-5 hover:text-accent hover:opacity-100`;
---

<nav
  class="btm-nav bg-background md:hidden pt-2"
  aria-label="Bottom navigation"
>
  {
    NAV_ITEMS.map(({ title, href }) => (
      <NavLink
        href={href}
        aria-label={`Go to ${title} page`}
        class="text-subContent"
      >
        {title === 'Home' && <Icon name="home" class={navIconStyle} />}
        {title === 'About' && <Icon name="about" class={navIconStyle} />}
        {title === 'Blog' && <Icon name="post" class={navIconStyle} />}
        <span class="btm-nav-label">{title}</span>
      </NavLink>
    ))
  }
</nav>
